.CardBody {
  padding: 0;
}

.ContainerWhole {
  max-width: 615px;
}

.CardHeader {
  background: rgba(196, 196, 196, 0.3);
  font-family: Nunito Sans;
  font-style: normal;
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 15px;
}

.HeaderInside {
  padding-left: 15px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-right: 0;
}

.Content {
  cursor: pointer;
}

.Content img {
  padding-left: 10px;
}

.CardBodyContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 6px 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LeftBody {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #696969;
}

.RightBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}

.TransListIcon {
  margin-left: 0.5rem;
}
