.Container {
  height: 100vh;
  width: 100%;
  background-color: #F0F2F6;
}

.NavbarMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 4.31rem;
  z-index: 1;
}