@import "../../assets/common/common.scss";

.StatusFormContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.StatusFormContainerCurve {
  max-width: 36.31rem;
  background-color: transparent;
}
.StatusFormContainerCurveResponive{
  width: 100% !important;
  
}
.StatusFormContainerStatusIcon {
  margin-bottom: -2rem;
}
.CurveStyle{
  position: relative;
overflow: hidden;
display: block;
height: 58px;
border-radius: 20px 20px 0 0;

}
.StatusFormContainerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-top: -2px;
  @media (max-width: 576px) {
    padding: 1.56rem 1rem 2.5rem 1rem;
  }
  padding: 1.7rem 2.5rem 1rem 2.5rem;
}
