@import "../../assets/common/common.scss";

.StatusFormContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.StatusFormContainerCurve {
  max-width: 36.31rem;
  background-color: transparent;
}
.StatusFormContainerCurveResponive{
  width: 100% !important;
  
}
.StatusFormContainerStatusIcon {
  margin-bottom: -2rem;
}
.StatusFormContainerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-top: -2px;
  @media (max-width: 576px) {
    margin-top: -10px;
  }
  @media (max-width: 400px) {
    margin-top: -16px;
  }
}
