@import "../../assets/common/common.scss";

.SelectionTileRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.SelectionTileWrapper {
  display: flex;
  align-items: center;
  width: 15.06rem;
  min-height: 5.31rem;
  border: 1px solid $greyEDE;
  border-radius: 0.75rem;
  border-bottom: 0.37rem solid $greyEDE;
  margin: 0 2rem 1.5rem 0;
}
.SelectionTileSelector {
  display: flex;
  align-items: center;
  width: 100%;
  height: 99%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background-color: #ffffff;

  padding: 1rem;
}
.SelectionTileTDiv {
  max-width: 13rem;
  overflow: hidden;
}
.SelectionTAmount {
  padding-top: 1rem;
}
.SelectionTileChild {
  display: inline-block;
  overflow: hidden;
  padding: 1rem;
}
.SelectionTileTitle {
  @extend %truncatedText;
}
