@import "./../../assets/common/common.scss";

.InputFieldMain {
  display: flex;
  flex-direction: column;
}
.InputFieldIconDiv {
  display: flex;
  align-items: center;
  position: relative;
}
.InputFieldIcon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}
.InputFieldIconDiv input {
  height: 3.12rem;
  min-width: 22.6rem;
  width: 31.6rem;
  border-radius: 0.95rem;
  border: 0.5px solid #dedede;
  box-shadow: $mainBoxShadow;
}
.InputFieldInput {
  padding-right: 5.2rem;
}
.InputFieldIconDiv input:focus {
  outline: none;
}
.InputFieldLabel {
  padding: 0 0 0.62rem 1.56rem;
}

.IconContainer {
  display: flex;
  align-items: center;
  position: relative;
  left: -5rem;
  height: 3.12rem;
}
.InputFieldClear {
  margin-top: -4px;
  cursor: pointer;
}
.InputFieldPassword {
  margin-left: 1rem;
  cursor: pointer;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}
input::-ms-clear ::-ms-reveal {
  display: none;
}
.InputFieldInput::-ms-clear ::-ms-reveal {
  display: none;
}

@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 90vw;
  }
}
