@import "./../../assets/common/common.scss";

.InputFieldMain {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.InputFieldMainFlex {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.InputFieldIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.InputFieldIcon {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1rem;
}
.InputFieldIconDiv input {
  height: 3.12rem;
  border-radius: 0.95rem;
  border: 1px solid #dedede;
  box-shadow: $darkBoxShadow;
}
.InputFieldInput {
  padding-right: 5.2rem;
  font-family: "Nunito Sans";
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  &::placeholder {
    font-weight: 400;
  }
}

.InputFieldIconDiv input:focus {
  outline: none;
  box-shadow: none;
}
.DisabledInput {
  opacity: 0.4;
  pointer-events: none;
}
.InputFieldLabel {
  padding: 0 0.5rem 0 0;
}

.InputFieldClear {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}
.InputFieldPassword {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.TitleDiv {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0.6rem;
}
.bottomLabel {
  padding: 0.75rem 0 0 1.56rem;
}
@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 100% !important;
  }
  .InputFieldInput {
    width: 100% !important;
  }
}
