@import "./../../assets/common/common.scss";

.InputFieldMain {
  display: flex;
  flex-direction: column;
}
.InputFieldMainFlex {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.InputFieldIconDiv {
  display: flex;
  align-items: center;
  position: relative;
}
.InputFieldIcon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}
.InputFieldIconDiv input {
  height: 3.12rem;
  border-radius: 0.95rem;
  border: 0.5px solid #dedede;
  box-shadow: $darkBoxShadow;
}
.InputFieldInput {
  padding-right: 5.2rem;
  
  
}
.InputFieldIconDiv input:focus {
  outline: none;
  box-shadow:none;
}
.InputFieldLabel {
  padding: 0;
}

.InputFieldClear {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.InputFieldPassword {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.TitleDiv {
  display: flex;
  // align-items: center;
  padding: 0 0 1rem 1rem;
}
.bottomLabel {
  padding: 0.75rem 0 0 1.56rem;
}
@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 100% !important;
  }



 
}
