.InputFieldMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputFieldIconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.InputFieldIcon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}

.InputFieldIconDiv input {
  height: 3.12rem;
  min-width: 22.6rem;
  border-radius: 0.95rem;
  border: 0.5px solid #dedede;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
}

.InputFieldInput {
  padding-right: 5.2rem;
}

.InputFieldIconDiv input:focus {
  outline: none;
}

.InputFieldLabel {
  padding-right: 1rem;
}

.InputFieldClear {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.InputFieldPassword {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}

input::-ms-clear ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.InputFieldInput::-ms-clear ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.TitleDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0.62rem 1.56rem;
}

.bottomLabel {
  padding: 0.75rem 0 0 1.56rem;
}

@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 90vw;
  }
}
