.InputFieldMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputFieldMainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputFieldIconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.InputFieldIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1rem;
}

.InputFieldIconDiv input {
  height: 3.12rem;
  border-radius: 0.95rem;
  border: 0.5px solid #dedede;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.129726), 0px 4px 7px rgba(0, 0, 0, 0.11574);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.129726), 0px 4px 7px rgba(0, 0, 0, 0.11574);
}

.InputFieldInput {
  padding-right: 5.2rem;
  font-family: "Nunito Sans";
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.InputFieldInput::-webkit-input-placeholder {
  font-weight: 400;
}

.InputFieldInput:-ms-input-placeholder {
  font-weight: 400;
}

.InputFieldInput::-ms-input-placeholder {
  font-weight: 400;
}

.InputFieldInput::placeholder {
  font-weight: 400;
}

.InputFieldIconDiv input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.DisabledInput {
  opacity: 0.4;
  pointer-events: none;
}

.InputFieldLabel {
  padding: 0 0.5rem 0 0;
}

.InputFieldClear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.InputFieldPassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.TitleDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.5rem 0.6rem;
}

.bottomLabel {
  padding: 0.75rem 0 0 1.56rem;
}

@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 100% !important;
  }
  .InputFieldInput {
    width: 100% !important;
  }
}
