.InputFieldMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputFieldIconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.InputFieldIcon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
}

.InputFieldIconDiv input {
  height: 3.12rem;
  min-width: 22.6rem;
  border-radius: 0.95rem;
  border: 0.5px solid #dedede;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.129726), 0px 4px 7px rgba(0, 0, 0, 0.11574);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.129726), 0px 4px 7px rgba(0, 0, 0, 0.11574);
}

.InputFieldInput {
  padding-right: 5.2rem;
}

.InputFieldIconDiv input:focus {
  outline: none;
}

.InputFieldLabel {
  padding: 0 0 0.62rem 0;
}

.InputFieldClear {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.InputFieldPassword {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.InputFieldError {
  padding: 1rem 0 0 1rem;
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@media (max-width: 400px) {
  .InputFieldIconDiv input {
    width: 90vw;
  }
}
