.Container {
  width: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.LeftSide {
  padding-right: 0;
}

.RightSide {
  padding-left: 0;
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
