.Container {
  width: 8.15rem;
  flex-wrap: nowrap;
  cursor: pointer;
}

.LeftSide {
  padding-right: 0;
}

.RightSide {
  padding: 0;
}

.Content {
  display: flex;
  height: 100%;
}
.TextDropdownIcons {
  display: flex;
  align-self: center;
}
