.Button {
  padding: 0px;
  height: 50px;
  width: 255px;
}

.Container {
  padding: 72px 32px 8px 32px;
}

@media (max-width: 575px) {
  .Button {
    padding: 0px;
    height: 50px;
    width: 100%;
  }

  .Container {
    padding: 0px 24 8px 24;
  }
}
