.Button {
  padding: 0px;
  height: 50px;
  width: 255px;
}

.Container {
  padding: 72px 108px 56px 56px;
}

.ImageContainer {
  width: 100%;
  height: 26.75rem;
  object-fit: cover;
}

@media (max-width: 575px) {
  .Button {
    padding: 0px;
    height: 50px;
    width: 100%;
  }

  .Container {
    padding: 0px 24px 8px 24px;
  }
}
