.Container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-top: 1.5px solid #dedede !important;
  cursor: pointer;
}

.ImageContainer {
  width: 13.9375rem !important;
  height: 9.375rem !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.PlayVideoContainer {
  position: absolute;
  width: 13.9375rem !important;
  height: 9.375rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PlayVideo {
  width: 3.5rem;
  background-color: none;
}

.Overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0) !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.Details {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  padding-right: 2rem !important;
  z-index: 99 !important;
}

.Title {
  margin: 0 !important;
  padding: 0 !important;
  color: #000000 !important;
  font-family: Nunito Sans !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 25px !important;
  margin-bottom: 1rem !important;
}

.Content {
  margin: 0 !important;
  padding: 0 !important;
  color: #444444 !important;
  font-family: Nunito Sans !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: 20px !important;
  margin-bottom: 1.25rem !important;
}

.Container:hover .Overlay {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.Container:hover .ImageOverlay {
  position: absolute;
  width: 13.125rem !important;
  height: 9.375rem !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.Container:hover .Title {
  color: #ffa463 !important;
}

.Container:hover .Content {
  color: #000000 !important;
}

@media (min-width: 576px) {
  .col-sm-3 {
    max-width: 21% !important;
  }
}
