.FlexCenter, .FlexLeft, .MainDiv, .ContentContainer, .FlexRight, .ButtonContainer, .FlexTop, .FlexBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FlexLeft, .MainDiv, .ContentContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.FlexRight, .ButtonContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.FlexTop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.FlexBottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.MainDiv {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 1.5rem;
  background: rgba(196, 196, 196, 0.3);
}

.ContentContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ButtonContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.IconDiv {
  padding-right: 1rem;
}
