.MainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.87rem 1.5rem;
  background: rgba(196, 196, 196, 0.3);
}
.LeftDiv {
  display: flex;
  align-items: center;
}
.IconDiv {
  padding-right: 1rem;
}
