@import '../../assets/common/flex.scss';

.MainDiv {
  @extend .FlexLeft;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  background: rgba(196, 196, 196, 0.3);
}

.ContentContainer {
  @extend .FlexLeft;
  flex: 1;
}

.ButtonContainer {
  @extend .FlexRight;
  flex: 1;
}

.IconDiv {
  padding-right: 1rem;
}
