@import "../../common/common.scss";

.outerRound {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #94ec9b70;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: 1px;
}
.innerRound {
  background: linear-gradient(180deg, #94ec9b 0%, #5bb362 100%);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerRound img {
  width: 2rem;
}

@media (max-width: 576px) {
  .outerRound {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
  }
  .innerRound {
    width: 4.3125rem;
    height: 4.3125rem;
    border-radius: 50%;
  }
  .outerRound img {
    width: 1.75rem;
  }
}
