.outerRound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #94ec9b70;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: calc(6.25rem / 2);
  margin: 1px;
}

.innerRound {
  background: -webkit-gradient(linear, left top, left bottom, from(#94ec9b), to(#5bb362));
  background: linear-gradient(180deg, #94ec9b 0%, #5bb362 100%);
  width: 4.62rem;
  height: 4.62rem;
  border-radius: calc(4.62rem / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outerRound img {
  width: 2rem;
}

@media (max-width: 576px) {
  .outerRound {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: calc(5.625remrem / 2);
  }
  .innerRound {
    width: 4.3125rem;
    height: 4.3125rem;
    border-radius: calc(4.3125remrem / 2);
  }
  .outerRound img {
    width: 1.75rem;
  }
}
