.TagMainDiv {
  width: auto;
  display: inline-flex;
  background-color: #000000;
  border-radius: 4rem;
  padding: 0 1.43rem;
}
.TagChildDiv {
  display: flex;
  align-items: center;
  border-radius: 4rem;
}
.TagImage {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}
