.TagMainDiv {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #000000;
  border-radius: 4rem;
  padding: 0 1.43rem;
}

.TagChildDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4rem;
}

.TagImage {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}
