.NavbarMainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-color: #ffffff;
  height: 4.31rem;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
  z-index: 1000;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.NavbarMainDivScrolled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-color: #ffffff;
  height: 3rem;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
  z-index: 1000;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.InnerWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 57.25rem;
}

.navbarIconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbarIcons {
  padding-left: 2rem;
}

.NavbarOnClick {
  cursor: pointer;
}

.NavbarIcon {
  opacity: 1;
  -webkit-animation-name: Profile;
          animation-name: Profile;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  cursor: pointer;
}

.NavbarScrolledIcon {
  opacity: 1;
  -webkit-animation-name: navScrIcon;
          animation-name: navScrIcon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  cursor: pointer;
}

.scrolledProfile {
  opacity: 1;
  -webkit-animation-name: navScrIcon;
          animation-name: navScrIcon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Profile {
  opacity: 1;
  -webkit-animation-name: Profile;
          animation-name: Profile;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes navScrIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navScrIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes Profile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Profile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
