@import "../../assets/common/common.scss";

.NavbarMainDiv {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 4.31rem;
  box-shadow: $mainBoxShadow;
  z-index: 1000;
  transition: height 150ms ease-in-out;
}
.NavbarMainDivScrolled {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 3rem;
  box-shadow: $mainBoxShadow;
  z-index: 1000;
  transition: height 150ms ease-in-out;
}
.InnerWidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57.25rem;
}

.navbarIconDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarIcons {
  padding-left: 2rem;
}
.NavbarOnClick {
  cursor: pointer;
}

.NavbarIcon {
  cursor: pointer;
}

.NavbarScrolledIcon {
  cursor: pointer;
}
