@import "../../assets/common/common.scss";

.NavbarMainDiv {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #ffffff;
  height: 4.31rem;
  box-shadow: $mainBoxShadow;
  padding: $HorizontalPadding;
  z-index: 1000;
}

.navbarIconDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarIcons {
  padding-left: 2rem;
}
.NavbarOnClick {
  cursor: pointer;
}

.NavbarIcon {
  opacity: 1;
  animation-name: Profile;
  animation-duration: 2s;
  cursor: pointer;
}

.NavbarScrolledIcon {
  opacity: 1;
  animation-name: navScrIcon;
  animation-duration: 2s;
  cursor: pointer;
}
.scrolledProfile {
  opacity: 1;
  animation-name: navScrIcon;
  animation-duration: 2s;
}
.Profile {
  opacity: 1;
  animation-name: Profile;
  animation-duration: 2s;
}
@keyframes navScrIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Profile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
