@import "../../assets/common/common.scss";

.NavbarMainDiv {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 4.31rem;
  box-shadow: $mainBoxShadow;
  z-index: 1000;
  transition: height 150ms ease-in-out;
}
.NavbarMainDivScrolled {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  height: 3rem;
  box-shadow: $mainBoxShadow;
  z-index: 1000;
  transition: height 150ms ease-in-out;
}

.InnerWidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57.25rem;
  height: 100%;
}

.navbarIconDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.navbarIcons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  cursor: pointer;
  height: 100%;
  margin-bottom: -4px;
  .selected {
    content: " ";
    display: block;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    background: #fd8585;
    animation: iconBorder ease-in-out 1s forwards;
  }
}
@keyframes iconBorder {
  to {
    width: 100%;
  }
}

.NavbarIcon {
  cursor: pointer;
}

.NavbarScrolledIcon {
  cursor: pointer;
}
