div.checkboxRow input {
  display: none;
}
.checkboxRow {
  display: flex;
  flex-direction: row;
}
div.checkboxRow label {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.boxChildren {
  padding: 3px 0 0 5px;
}

@media (max-width: 400px) {
  .boxChildren {
    max-width: 350px;
  }
}
