.IconButtonsLabel {
  padding: 0 0 0.62rem 1rem;
}

.IconButtonsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.IconButtonsIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5rem;
  height: 4rem;
  border: 1px solid #dedede;
  border-radius: 0.75rem;
  border-bottom: 0.37rem solid #dedede;
}

.IconButtonsWrapper {
  margin-right: 2rem;
}

.IconButtonsText {
  text-align: center;
  padding-top: 1rem;
}
