.Container {
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}

.WholeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.25rem;
  margin: 1px;
  min-width: 57.18rem;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.123279);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.123279);
}

.NavLink {
  height: 100%;
}

.LeftChild {
  padding: 0;
}

.RightChild {
  padding: 0;
}

.Wrapper {
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.Wrapper a {
  background-color: transparent !important;
  padding: 0;
  outline: none;
}

.RightChildBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 11.87rem;
  background-size: 43.62rem 11.87rem;
  border-top-right-radius: 1.25rem;
  padding: 1rem;
}

.verticalLine {
  border-right: 1px solid #dedded;
  z-index: 10;
}
