.Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.Wrapper footer {
  max-width: 50%;
  margin-top: 1rem;
}

.Loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Loader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 8.75rem;
  height: 8.75rem;
  border: 0.4rem solid #ff2626;
  border-radius: 50%;
  -webkit-animation: Loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: Loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff2626 transparent transparent transparent;
}

.Loader div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.Loader div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.Loader div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

.Loader .ImageDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.75rem;
  height: 8.75rem;
}

.Loader .ImageDiv img {
  position: absolute;
  width: 3rem;
  height: 2.7225rem;
}

@-webkit-keyframes Loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
