.ListContainer {
  padding: 1.5rem;
}

.ItemContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.25rem;
}

.TransactionImg {
  height: 30px;
  width: 50px;
}

.columnView {
  display: 'flex';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 'column';
          flex-direction: 'column';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.itemLabel {
  padding-left: 1rem;
}

.notify {
  margin-left: 0.25rem;
}
