.ListContainer {
  padding: 1.5rem;
}

.ItemContainer {
  align-items: center;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.25rem;
}
.ImageContainer {
  display: flex;
  align-items: center;
}
.TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  height: 3rem;

  position: relative;
}
.TransactionImg {
  height: 2.06rem;
  width: 3.31rem;
}

.notify {
  margin-left: 0.25rem;
  position: absolute;
  top: 5px;
  right: -1rem;
}
.rightLabelDiv {
  display: flex;
  align-items: center;
}
