@import "../../assets/common/common.scss";

.NavbarTransparentMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: transparent;
  height: 4.31rem;
  padding: $HorizontalPadding;
  z-index: 1000;
}

.NavbarTransparentIconDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarTransparentIcons {
  margin-left: 2rem;
}
