@import "../../assets/common/common.scss";

.BoxMainDiv {
  width: 25.31rem;
  background-color: $white7F7;
  border-radius: 1rem;
  z-index: 10;
  box-shadow: $mainBoxShadow;
}
.BoxMainDivFlexible {
  max-width: 25.31rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $white7F7;
  border-radius: 1rem;
  z-index: 10;
  box-shadow: $mainBoxShadow;
}

.Container {
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}
