.SecureImageTitle {
  padding-bottom: 1.5rem;
}

.SecureImageMain {
  width: 21.31rem;
  height: 10.43rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
  height: 10.5rem;
  overflow: hidden;
  position: relative;
}

.SecureImageBG {
  width: 60rem;
  height: 30rem;
  border-radius: 1rem;
  -o-object-fit: inherit;
  object-fit: inherit;
  background-size: 110% 110%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.SecureImageImg {
  width: 8.77rem;
  height: 10.5rem;
  -o-object-fit: inherit;
  object-fit: inherit;
  z-index: 10;
  position: absolute;
  top: 0;
}
