.SecureImageMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  border-radius: 1rem;
}

.SecureImageBG {
  display: flex;
  justify-content: center;
  width: 21.25rem;
  height: 12rem;
  border-radius: 1rem;
  object-fit: inherit;
  background-size: 26rem 15rem;
  filter: blur(2px);
}
.SecureImageImg {
  position: absolute;
  top: 0rem;
  right: 4rem;
  width: 12rem;
  height: 12rem;
}
