.SecureImageTitle {
  padding-bottom: 1.5rem;
}

.SecureImageMain {
  position: relative;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 1px;
  border-radius: 1rem;
}

.SecureImageBG {
  width: 21.25rem;
  height: 10.43rem;
  border-radius: 1rem;
  -o-object-fit: inherit;
     object-fit: inherit;
  background-size: 22rem 12rem;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

.SecureImageImg {
  position: absolute;
  top: 0.1rem;
  right: 5rem;
  width: 10.62rem;
  height: 10.4rem;
  z-index: 10;
}
