@import "../assets/common/common.scss";
@import "../assets/common/flex.scss";

.Container {
  width: 100%;
  margin: 0 auto;
}

.Title {
  margin-bottom: 1.375rem;
  line-height: 1.125rem;
}
.Subtitle {
  margin-bottom: 2.375rem;
  line-height: 0.9375rem;
}

.Content {
  margin-bottom: 1.75rem;
  line-height: 1.375rem;
}

.ScrollTableHead {
  background-color: #fff;
}

.TableHeading {
  vertical-align: top !important;
  font-size: 0.81rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.TableWrapper {
  overflow-y: auto;
  height: 15.875rem;
  background-color: #fff;
}
