@import "../../assets/colors/colors.scss";

.rowWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 0;
}

.separator {
  border-right: 1px solid $grey444;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 12px;
  text-align: center;
}
