.SearchBar {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.SearchBarContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.625rem;
  // max-width: 53.12rem;
  // min-width: 32.31rem;
  border-radius: 25px;
  border: 1px solid #dedede;
  overflow: hidden;
  background-color: #ffffff;
}

.FilterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2.625rem;
  width: 6.3rem;
  background: linear-gradient(180deg, #f6f6f3 0%, #eae9e3 100%);
  overflow: hidden;
  cursor: pointer;
}
.FilterContainerOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2.625rem;
  width: 6.3rem;
  background: linear-gradient(180deg, #eae9e3 0%, #f6f6f3 100%);
  overflow: hidden;
  cursor: pointer;
}

.FilterDropdownContainer {
  position: absolute;
  top: 16;
  margin-top: 16px;
  background: #ffffff;
  z-index: 299;
  box-sizing: border-box;
  border-radius: 5px;
  left: 0;
  box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede,
    0px 1px 5px #dedede;
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.SectionFilterDropdownContainer {
  position: absolute;
  top: 16;
  margin-top: 16px;
  background: #ffffff;
  z-index: 299;
  box-sizing: border-box;
  min-width: 16.25rem;
  border-radius: 5px;
  left: 0;
  box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede,
    0px 1px 5px #dedede;
  padding: 1.5rem 0 0 0;
}

.FilterOptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-bottom: 16px;
  cursor: pointer;
}
.FilterOptionSelectedContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.SectionFilterContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 0.8rem;
}
.SectionFilterSectionTitleContainer{
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
}
.SectionFilterOptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2.25rem;
  flex: 1;
  padding: 0 1.25rem 0 2.125rem;
  cursor: pointer;
}

.SectionFilterOptionContainer:hover {
  display: flex;
  flex-direction: row;
  background-color: rgba(222, 222, 222, 0.2);
  align-items: center;
  min-height: 2.25rem;
  flex: 1;
  padding: 0 1.25rem 0 2.125rem;
  cursor: pointer;
}
.SectionFilterOptionSelectedContainer {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  flex: 1;
}

.SelectedFiltersContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 16px;
  max-width: 53.12rem;
}

.SelectedFilter {
  background: #dedede;
  border-radius: 13px;
  padding-left: 9px;
  padding-right: 6px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 1.5rem;
  margin-bottom: 8px;
}

.SelectedFilterLabel {
  margin-right: 8px;
}

.SelectedFilterClearIcon {
  display: flex;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.InputField {
  margin-left: 1.5rem;
  display: flex;
  flex: 1;
  outline: none;
  padding-right: 0.3rem;
  border: none;
}

.IconContainer {
  margin-right: 1.5rem;
}

.InputFieldPassword {
  padding-right: 2px;
}

.ClearIcon {
  margin-right: 1.05rem;
}

.SearchBarArrow {
  margin-left: 0.2rem;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@media (max-width: 400px) {
  .SearchBarContainer {
    width: 90vw;
  }
}
