.SearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.SearchBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 2.625rem;
  width: 53.12rem;
  border-radius: 25px;
  border: 1px solid #dedede;
  overflow: hidden;
}

.FilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2.625rem;
  width: 6.3rem;  
  background: linear-gradient(180deg, #F6F6F3 0%, #EAE9E3 100%);
  overflow: hidden;
  cursor: pointer;
}
.FilterContainerOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 2.625rem;
  width: 6.3rem;  
  background: linear-gradient(180deg, #EAE9E3 0%, #F6F6F3 100%);
  overflow: hidden;
  cursor: pointer;
}
.FilterDropdownContainer {
  position: absolute;
  top: 16;
  background: #FFFFFF;
  z-index: 299;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 16px;
  padding: 20px 16px 4px 20px;
  left: 0;
  -webkit-box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede, 0px 1px 5px #dedede;
  box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede, 0px 1px 5px #dedede;
}

.FilterOptionContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 16px;
  cursor: pointer;
}

.FilterOptionSelectedContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.SelectedFiltersContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 16px;
  width: 53.12rem;
}

.SelectedFilter {
  background: #dedede;
  border-radius: 13px;
  padding-left: 9px;
  padding-right: 6px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-right: 8px; 
  height: 1.5rem; 
  margin-bottom: 8px;
}
.SelectedFilterLabel {
  margin-right: 8px;
}

.SelectedFilterClearIcon {
  display: flex;
  cursor: pointer;
}

.InputField {
  margin-left: 1.5rem;
  display: flex;
  flex: 1;
  outline: none;
  border: 0;
  padding-right: 0.3rem;
}

.ClearIcon{
  margin-right: 1.05rem;
  cursor: pointer;
}
.IconContainer {
  margin-right: 1.5rem;
}

.InputFieldPassword {
  padding-right: 2px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .SearchBarContainer {
    width: 90vw;
  }
}
