$primaryBlack: #000000;
$primaryRed: #ff2626;
$red585: #fd8585;
$grey444: #444444;
$greyEDE: #dedede;
$green03e: #36a03e;
$green988: #81d988;

$mainBoxShadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede,
  0px 1px 5px #dedede;
