.ActionButtonsMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.12rem 0.4rem 1.31rem 2.5rem;
}

.ActionButtonsWidth {
  width: 2.81rem;
}

.ActionButtonsIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.81rem;
  height: 2.81rem;
  border-radius: 1rem;
  margin-right: 2.1rem;
  cursor: pointer;
}

.ActionButtonsText {
  word-wrap: break-word;
  text-align: center;
  padding-top: 0.6rem;
  display: none;
}

.ActionButtonsMain:hover .ActionButtonsText {
  display: block;
}
