.ActionButtonsMain {
  display: flex;
  padding: 3.12rem 0.4rem 1.31rem 2.5rem;
}

.ActionButtonsWidth {
  width: 2.81rem;
}
.ActionButtonsIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.81rem;
  height: 2.81rem;
  border-radius: 1rem;
  margin-right: 2.1rem;
  cursor: pointer;
}
.ActionButtonsText {
  word-wrap: break-word;
  text-align: center;
  padding-top: 0.6rem;
  display: none;
}
.ActionButtonsMain:hover .ActionButtonsText {
  display: block;
}
