.ActionButtonsMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem 0 2rem;
}

.ActionButtonsIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.31rem;
  height: 2.31rem;
  border-radius: 0.9rem;
  margin-right: 1.5rem;
  cursor: pointer;
  -webkit-transition: width 150ms ease-in-out, height 150ms ease-in-out;
  transition: width 150ms ease-in-out, height 150ms ease-in-out;
}

.ActionButtonsIconExpanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 2.81rem;
  height: 2.81rem;
  border-radius: 1.1rem;
  -webkit-transition: width 150ms ease-in-out, height 150ms ease-in-out;
  transition: width 150ms ease-in-out, height 150ms ease-in-out;
  cursor: pointer;
}

.FlexDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.ActionButtonsWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  overflow: hidden;
}

.ActionButtonsText {
  text-align: center;
  padding-top: 0.6rem;
  -webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.ActionButtonsIconExpanded:hover {
  opacity: 0.7;
}
