.FooterContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.LogoContainer {
  display: flex;
  margin: 5px;
  max-height: 1.1rem;
  max-width: 2rem;
  cursor: pointer;
}
