.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  max-height: 1.1rem;
  max-width: 2rem;
}
