.AMTabsContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.SmallTabsTab {
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  padding: 0 !important;
  list-style-type: none;
  height: 1.8rem;
  cursor: pointer;
}

.SmallTabsTab:active {
  background-color: transparent;
}

.TabsTab {
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  list-style-type: none;
  height: 2.5rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.TabsTab:active {
  background-color: transparent;
}

.SmallTabsSelected {
  background-color: transparent;
  border: 0 !important;
  border-bottom: 2px solid #fd8585 !important;
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  font-weight: 700 !important;
}

.TabsSelected {
  background-color: transparent;
  border: 0 !important;
  border-bottom: 2px solid #fd8585 !important;
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  font-weight: 700 !important;
}
