@import "../../assets/common/common.scss";
.AMTabsContents {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.SmallTabsTab {
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  padding: 0 !important;
  list-style-type: none;
  height: 1.8rem;
  cursor: pointer;
  &:active {
    background-color: transparent;
  }
}
.TabsTab {
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  padding: 0 2rem !important;
  list-style-type: none;
  height: 2.5rem;
  cursor: pointer;
  &:active {
    background-color: transparent;
  }
  overflow: hidden;
  white-space: nowrap;
}
.TabsTab {
  padding: 0 2rem !important;
  list-style-type: none;
  height: 2.5rem;
  cursor: pointer;
  &:active {
    background-color: transparent;
  }
}

.SmallTabsSelected {
  background-color: transparent;
  border: 0 !important;
  border-bottom: 2px solid #fd8585 !important;
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  font-weight: 700 !important;
}
.TabsSelected {
  background-color: transparent;
  border: 0 !important;
  border-bottom: 2px solid #fd8585 !important;
  font-family: "Nunito Sans" !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  padding: 0 2rem !important;
}
