@import "../../assets/common/common.scss";
.AMTabsContents {
  display: flex;
  justify-content: space-between;
  // padding: 1.5rem 1.5rem 0rem 1.5rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}


.TT{
  padding: 0 !important;
  list-style-type: none;
  cursor: pointer;
  &:active {
    background-color: transparent;
  }
}

.KK{
  background-color: transparent;
  border: 0 !important;
    border-bottom: 2px solid #ff2626 !important;
}