.DockMainDiv {
  position: fixed;
  bottom: 0;
  display: inline-block;
  min-height: 5rem;
  background-color: #44444490;
  border-radius: 1.3rem 1.3rem 0 0;
}
.DockInnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  border-radius: 1.3rem 1.3rem 0 0;
}
.DockTag {
  margin: -1.5rem 0 -1.8rem 2rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.DockMainDiv:hover .DockTag {
  opacity: 0;
}
