.DockMainDiv {
  position: fixed;
  bottom: 0;
  display: inline-block;
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 1.3rem 1.3rem 0 0;
}
.DockInnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3rem 1.3rem 0 0;
  min-height: 5.12rem;
  transition: min-height 200ms ease-in;
}
.DockTag {
  margin: -1.5rem 0 -1.8rem 2.6rem;
}

.InnerDivExpand {
  min-height: 9rem;
  transition: min-height 150ms ease-out;
}
