.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatarContainer img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.81rem;
}
.scrolledAvatarContainer img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  margin-right: 0.81rem;
}
.scrolledAvatarInitials {
  background-color: #f5a623;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  margin-right: 0.81rem;
}
.avatarInitials {
  background-color: #f5a623;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.81rem;
}

.greeting {
  padding-right: 0.3rem;
}
@media (max-width: 400px) {
  .textContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}
