.FloatingButtonMain {
  cursor: pointer;
  pointer-events: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.43rem;
  height: 3.43rem;
  border-radius: 1.71rem;
  margin: 1px;
}
