.ZeroResultMain {
  display: flex;
  justify-content: center;
}

.ZeroResultText {
  padding-top: 1.5rem;
}

.ZeroResultDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 16.3rem;
  text-align: center;
}
