.StickyTimerTopDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d8d8d8;
  padding: 1.5rem 18.93rem;
  width: 100vw;
}

.StickyTimerExp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StickyTimerExpTime {
  padding: 0 1rem;
}

.StickyTimerBottomDiv {
  padding: 1.5rem 18.93rem 3rem 18.93rem;
  background-color: #ffffff;
}
