$primaryBlack: #000000;
$secondaryBlack: #44444490;
$primaryRed: #ff2626;
$red585: #fd8585;
$grey444: #444444;
$grey5E5: #e5e5e5;
$greyEDE: #dedede;
$greyF6F: #f6f6f3;
$greyEAE: #eae9e3;
$greyD8D: #d8d8d8;
$white7F7: #f7f7f7;
$green03e: #36a03e;
$green988: #81d988;
$blue269: #2694eb;

$mainBoxShadow: 1px 0px 5px $grey5E5, -1px 0px 5px $grey5E5,
  0px -1px 5px $grey5E5, 0px 1px 5px $grey5E5;

$darkBoxShadow: 0px 0px 3px rgba(0, 0, 0, 0.129726),
  0px 4px 7px rgba(0, 0, 0, 0.11574);

%truncatedText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

$HorizontalPadding: 0 18vw;
