@import "../assets/common/common.scss";
@import "../assets/common/flex.scss";

.Icon {
  cursor: pointer;
}

.MainDiv {
  position: relative;
  width: 2rem;
}

.BoxDiv {
  position: absolute;
  right: 1rem;
  top: 2.6rem;
  width: 10rem;
  border-radius: 5px;
  height: auto;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: $mainBoxShadow;
  overflow: hidden;
}

.Button {
  @extend .FlexCenter;
  @extend .FlexLeft;
  width: 100%;
  padding: 0.8125rem 1.25rem 0.8125rem 1.25rem;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
    transition: background-color 0.4s;
  }
  &:focus {
    outline: none;
  }
}
