.Icon {
  cursor: pointer;
}

.MainDiv {
  position: relative;
  width: 2rem;
}

.BoxDiv {
  position: absolute;
  right: 1rem;
  top: 2.6rem;
  width: 10rem;
  border-radius: 5px;
  height: auto;
  z-index: 100;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
}

.ButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ButtonIconText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Nunito Sans";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  color: #444444;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.ButtonIconText:hover {
  background-color: #f1f1f1;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.ButtonIconText:focus {
  outline: none;
}
