.FlexCenter, .FlexLeft, .Button, .FlexRight, .FlexTop, .FlexBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FlexLeft, .Button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.FlexRight {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.FlexTop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.FlexBottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Icon {
  cursor: pointer;
}

.MainDiv {
  position: relative;
  width: 2rem;
}

.BoxDiv {
  position: absolute;
  right: 1rem;
  top: 2.6rem;
  width: 10rem;
  border-radius: 5px;
  height: auto;
  z-index: 100;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
}

.Button {
  width: 100%;
  padding: .8125rem 1.25rem .8125rem 1.25rem;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.Button:hover {
  background-color: #f1f1f1;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.Button:focus {
  outline: none;
}
