.CardBody {
  padding: 0;
}

.ContainerWhole {
  border: none !important;
}

.HeaderIcon {
  padding-left: 0.25rem;
}

.BothIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.BothIcon div:nth-child(2) {
  height: 9px;
}

.ArrowDown {
  cursor: pointer;
}

.ArrowUp {
  cursor: pointer;
}

.HeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  width: 100%;
}

.ItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  width: 100%;
}

.CardHeader {
  background: #f7f7f7;
  border: none !important;
  font-family: Nunito Sans;
  font-style: normal;
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 1.5rem;
}

.HeaderInside {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #ffffff;
  border: none !important;
}

.Inverted {
  background-color: #f1f1f1 !important;
}

.Content {
  cursor: pointer;
}

.Content img {
  padding-left: 10px;
}

.ContentBody {
  margin: 0 !important;
  padding: 0 !important;
}

.ContentBody div {
  background-color: transparent;
}

.LeftBody {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #696969;
}

.RightBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}

.TransListIcon {
  margin-left: 0.5rem;
}
