@import "../assets/common/common.scss";

.StatusFormContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}
.StatusFormContainerCurve {
  position: relative;
  max-width: 36.31rem;
  background-color: transparent;
}
.StatusFormContainerCurveResponive{
  width: 100% !important;
  
}
.StatusFormContainerStatusIcon {
  position: absolute;
  left: calc(50% - 52px);
  top: -65px;
  z-index: 20;
}
.StatusFormContainerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-top: -2px;
  padding: 2rem;
}
  .headerTitle {
    text-align: center;
    line-height: 32px;
    @media (max-width:576px){
      text-align: "center";
      font-size: 18px !important;
    }
  }
  .subContent {
    font-family: "Nunito Sans";
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    text-align: "center";
    line-height: 18px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    @media (max-width:576px){
      text-align: "center";
      font-size: 13px;
      margin-bottom: 3.5rem;
    }
  }

.btnClass{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3.25rem;
  width: 100%;
  @media (max-width:576px){
    width:100% !important;
    margin-top: 2.5rem !important;
    max-width: 20.4rem;
  
  }
}

.CurveStyle{
  position: relative;
  overflow: hidden;
  display: block;
  height: 58px;
  border-radius: 20px 20px 0 0;
  }