.StatusFormContainerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

.StatusFormContainerCurve {
  position: relative;
  max-width: 36.31rem;
  background-color: transparent;
}

.StatusFormContainerCurveResponive {
  width: 100% !important;
}

.StatusFormContainerStatusIcon {
  position: absolute;
  left: calc(50% - 52px);
  top: -65px;
  z-index: 20;
}

.StatusFormContainerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-top: -2px;
  padding: 2rem;
}

.headerTitle {
  text-align: center;
  line-height: 32px;
}

@media (max-width: 576px) {
  .headerTitle {
    text-align: "center";
    font-size: 18px !important;
  }
}

.subContent {
  font-family: "Nunito Sans";
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: "center";
  line-height: 18px;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

@media (max-width: 576px) {
  .subContent {
    text-align: "center";
    font-size: 13px;
    margin-bottom: 3.5rem;
  }
}

.btnClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3.25rem;
  width: 100%;
}

@media (max-width: 576px) {
  .btnClass {
    width: 100% !important;
    margin-top: 2.5rem !important;
    max-width: 20.4rem;
  }
}

.CurveStyle {
  position: relative;
  overflow: hidden;
  display: block;
  height: 58px;
  border-radius: 20px 20px 0 0;
}
