.mainContainer{
  position: absolute;
  width: 14.375rem;
  height: 19rem;
  background: #474747;
  border: 0.5px solid #DEDEDE;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.129726), 0px 4px 7px rgba(0, 0, 0, 0.11574);
  border-radius: 15px;
} 

.tipContentStyle{
  position: absolute;
    height: 0;
    width: 0;
    top:9rem;
    z-index: 1;
    left:-0.625rem;
    border: medium solid #474747;
    border-width: 10px 10px 10px 0;
    border-color: transparent #474747 transparent transparent;
  
}

.outerContainer{
  position: relative;
  padding: 2.5rem 1.3rem 2.4rem 1.75rem;
}
.numberPadContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10.375rem;
}

.numberContainer{
    width: 3.125rem;
    height: 3.125rem;
    background: #F1F1F1;
    border-radius: 10px;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.8125rem 1.1875rem 0.75rem 1.25rem;
    cursor: pointer !important;
    &:active{
      opacity: 0.5;
    }
    &:focus{
      opacity: 0.5;
    }
  
}
.extraPropsContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 0.825rem;
  justify-content: flex-end;
}