.TacMainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.TacMainInnerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TacButton {
  padding-top: 1.5rem;
}

.TacCrossButton {
  margin-left: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
