.TacMainDiv {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  height: 12.75rem;
}
.TacMainInnerDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.TacButton {
  display: flex;
  margin-top: 1.5rem;
}
.TacCrossButton {
  position: absolute;
  right: -2rem;
  top: -1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.TacInActiveIconText {
  padding-left: 1.31rem;
}
.TacInActiveIcon {
  display: flex;
  align-items: center;
  height: 7rem;
}
.TacInputField {
  width: 34.81rem;
}
.TacInputFieldContent {
  width: 34.6rem;
  padding-top: 1rem;
  padding-left: 1.3rem;
}
.TacInputFieldLink {
  cursor: pointer;
}
