.TacMainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.TacMainInnerDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55.25rem;
}

.TacButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.7rem;
  margin-right: 2.5rem;
}

.TacCrossButton {
  position: absolute;
  height: 1.5rem;
  cursor: pointer;
  right: 0rem;
  top: -0.8rem;
}

.TacInActiveIconText {
  padding-left: 1.31rem;
}

.TacInActiveIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.TacInputField {
  width: 34.81rem;
}

.TacInputFieldContent {
  width: 38rem;
  padding-top: 1rem;
  padding-left: 1.3rem;
}

.TacInputFieldLink {
  cursor: pointer;
}
