.TacMainDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.TacMainInnerDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 55.25rem;
}
.TacMainInnerDivRes{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 55.25rem;
  @media (max-width: 576px) {
    flex-direction: column;
    min-height: 11rem;
    width: 100%
  }
}
.TacButtonRes {
  display: flex;
  margin-top: 2rem;
  margin-right: 2.5rem;

  @media (max-width: 576px) {
    justify-content: center;
    margin-right: 0px;
  }
}
.TacButton {
  display: flex;
  margin-top: 1.7rem;
  margin-right: 2.5rem;
}
.TacCrossButton {
  position: absolute;
  height: 1.5rem;
  cursor: pointer;
  right: 0rem;
  top: -0.8rem;
}
.TacInActiveIconText {
  padding-left: 1.31rem;
}
.TacInActiveIcon {
  display: flex;
  align-items: center;
  height: 7rem;
}
.TacInActiveIconRes {
  display: flex;
  align-items: center;
  height: 7rem;
  @media (max-width: 576px) {
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
}
.TacInputField {
  width: 34.81rem;
  @media (max-width: 576px) {
    width: 100%;
  }
}
.TacInputFieldContent {
  width: 38rem;
  padding-top: 1rem;
  padding-left: 1.3rem;
  @media (max-width: 576px) {
    width: 100%;
    padding-left: 0
  }
}
.TacInputFieldLink {
  cursor: pointer;
}
