.TacMainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.TacMainInnerDiv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55.25rem;
}

.TacMainInnerDivRes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55.25rem;
}

@media (max-width: 576px) {
  .TacMainInnerDivRes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 11rem;
    width: 100%;
  }
}

.TacButtonRes {
  margin-top: 1.7rem;
  margin-right: 2.5rem;
}

@media (max-width: 576px) {
  .TacButtonRes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
}

.TacButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.7rem;
  margin-right: 2.5rem;
}

.TacCrossButton {
  position: absolute;
  height: 1.5rem;
  cursor: pointer;
  right: 0rem;
  top: -0.8rem;
}

.TacInActiveIconText {
  padding-left: 1.31rem;
}

.TacInActiveIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.TacInActiveIconRes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

@media (max-width: 576px) {
  .TacInActiveIconRes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100%;
  }
}

.TacInputField {
  width: 34.81rem;
}

@media (max-width: 576px) {
  .TacInputField {
    width: 100%;
  }
}

.TacInputFieldContent {
  width: 27.5rem;
  padding-top: 1rem;
  padding-left: 1.3rem;
}

@media (max-width: 576px) {
  .TacInputFieldContent {
    width: 100%;
    padding-left: 0;
  }
}

.TacInputFieldLink {
  cursor: pointer;
}
