.Container {
  padding-top: 2.5rem;
}
.BoxTitle {
  padding: 1rem 0;
}
.ReadMore {
  text-transform: capitalize;

  padding: 0 0 0 0.5rem;
  color: #ffa463;
  font-weight: 700;
  font-size: 1.06rem;
  white-space: pre;
  cursor: pointer;
}
