.DetailListMainDiv {
  width: auto;
  height: 100vh;
  background-color: #f7f7f7;
}

.DetailListTitle {
  padding: 2rem 0;
}
.DetailListTitle #title {
  text-align: center;
}
.DetailListRows {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1.5rem 2rem;
}

.DetailListTool {
  display: flex;
  align-items: center;
}
.DetailListToolIcon {
  padding-left: 0.4rem;
}
