@import "../../assets/common/common.scss";

.SelectionTileRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.SelectionTileWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 6rem;
  height: 100%;
  position: relative;
  border-right: 0.37rem solid transparent;
  min-width: 5.31rem;
  //  border-bottom: 1px solid #dedede;
}

.WrapperContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon {
  margin: auto;
}
.StickToTheRight {
  height: 100%;
}
.SelectionTileTDiv {
  max-width: 13rem;
  width: 70%;
}
.SelectionTAmount {
  padding-top: 1rem;
}
.SelectionTileTitle {
  white-space: normal;
  word-wrap: break-word;
  padding-left: 0.5rem;
}
