.stMainTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.stIconRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stIconTitle {
  padding: 1rem 1rem 1rem 0;
}
.stMainLogoDiv {
  padding-left: 1rem;
}
.stDetail {
  padding-top: 1rem;
}
.stLink {
  padding-top: 1rem;
  cursor: pointer;
}
.stIconDetail {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 400px) {
  .stIconTitle {
    padding-top: 0;
  }
}
