.Container {
  padding: 40px 64px 36px 48px;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.Item {
  margin: 0;
  flex: 0 50%;
  padding-bottom: 1rem;
}

.Tag {
  align-items: center !important;
  background-color: #333333 !important;
  border-radius: 20px !important;
  display: flex !important;
  height: 23px !important;
  justify-content: center;
  width: 141px !important;
  margin-bottom: 1rem !important;
}

.TagText {
  color: #ffffff !important;
  font-family: Nunito Sans !important;
  font-size: 0.68rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  letter-spacing: 0.8px !important;
  line-height: 15px !important;
  margin: 0 !important;
  padding: 0 !important;
  text-transform: uppercase !important;
}

.Link,
a.Link:hover {
  margin: 0 !important;
  padding-top: 0.5rem !important;
  color: #ffa463 !important;
  font-weight: 700 !important;
  font-size: 1.0625rem !important;
  text-decoration: none !important;
}

.OuterColor {
  align-items: center !important;
  background-color: #fff2e9 !important;
  border-radius: 50% !important;
  display: flex !important;
  height: 40px !important;
  justify-content: center !important;
  width: 40px !important;
}
.InnerColor {
  align-items: center !important;
  background: linear-gradient(180deg, #ffba5b 0%, #ff842e 100%) !important;
  border-radius: 50% !important;
  display: flex !important;
  height: 28.57px !important;
  justify-content: center !important;
  width: 28.57px !important;
}
