@import "../../assets/common/common.scss";
@import "../../assets/common/flex.scss";

.MainDiv {
  width: 100%;
}

.WrapperDiv {
  @extend .FlexCenter;
  justify-content: space-between;
  min-height: 4.62rem;
}

.BorderDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  padding: 0 1rem;
  min-height: 4.62rem;
  background-color: #ffffff;
}
.WrapperDivMulti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.62rem;
  border-bottom: 1px solid #dedede;
}
.Title {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.IconDiv {
  display: flex;

  align-items: center;
}
.ImageIcon {
  width: 2.5rem;
  height: 2.5rem;
}
.TextContainer {
  margin-left: 1rem;
}
.notify {
  margin: 0 0 2.2rem 0.4375rem;
}
.SubText {
  padding-top: 4px;
}
.rightIcon {
  cursor: pointer;
}
.RightIconDiv {
  position: relative;
}
.BoxDiv {
  position: absolute;
  right: 1rem;
  top: 2.6rem;
  width: 10rem;
  border-radius: 5px;
  height: auto;
  z-index: 100;
  background-color: #ffffff;

  box-shadow: $mainBoxShadow;
}
.ButtonDiv {
  display: flex;
  align-items: center;
}

.ButtonIconText {
  display: flex;
  font-family: "Nunito Sans";
  align-items: center;
  margin: 1px;
  color: #444444;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
    transition: background-color 0.4s;
  }
  &:focus {
    outline: none;
  }
}
