.MainDiv {
  width: 35.5rem;
}

.WrapperDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.62rem;
}

.BorderDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 0.5rem;
  padding: 0 1rem;
  min-height: 4.62rem;
  background-color: #ffffff;
}

.WrapperDivMulti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.62rem;
  border-bottom: 1px solid #dedede;
}

.Title {
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}

.IconDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ImageIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.TextContainer {
  margin-left: 1rem;
}

.notify {
  margin: 0 0 2.2rem 0.4375rem;
}

.SubText {
  padding-top: 5px;
}

.rightIcon {
  cursor: pointer;
}

.RightIconDiv {
  position: relative;
}

.BoxDiv {
  position: absolute;
  right: 1rem;
  top: 2.6rem;
  width: 10rem;
  border-radius: 5px;
  height: auto;
  z-index: 100;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
}

.ButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ButtonIconText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Nunito Sans";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  color: #444444;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.ButtonIconText:hover {
  background-color: #f1f1f1;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.ButtonIconText:focus {
  outline: none;
}
