@import "../../assets/common/common.scss";

.DescriptionButtonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.12rem;
  justify-content: space-between;
  padding: 0 1rem;
  border: 1px solid $greyEDE;
  border-radius: 0.95rem;
  box-shadow: $darkBoxShadow;
  margin-bottom: 1rem;
  background-color: #ffffff;
  cursor: pointer;
}
.DescriptionButtonAmount {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.DescriptionAmount {
  white-space: nowrap;
}
