
/* .react-tabs__tab--selected {
  border: 0 !important;
  border-bottom: 2px solid #ff2626 !important;
}



/* .nav-link.active {
  background-color: transparent !important;
} */
/* .nav-link {
  padding: 0;
}  */