@import '../assets/common/common.scss';
@import '../assets/common/flex.scss';

.Container {
  width: 100%;
}

.Title {
  margin-bottom: 1.75rem;
  line-height: 1.25rem;
  text-align: left;
}

.Content {
  margin-bottom: 1.75rem;
  line-height: 1.375rem;
  text-align: left;
}
