.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.tooltip .TooltipContent {
  background-color: #000000;
  width: 17.75rem;
  padding: 1rem;
  border-radius: 18px 0px 18px 18px;

  position: absolute;
  z-index: 1;
  top: 0rem;
  right: 2rem;
}

// right aligned
.tooltipRight {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

 .TooltipContentRight {
  background-color: #000000;
  width: 17.75rem;
  padding: 1rem;
  border-radius: 0px 18px 18px 18px;
  position: absolute;
  z-index: 1;
  top: 0rem;
  left: 2.5rem;
}
