.TooltipMainDiv {
  display: flex;
  align-items: center;
}

.TooltipContent {
  background-color: #000000;
  width: 17.75rem;
  padding: 1rem;
  border-radius: 18px 0px 18px 18px;
  border-radius: 18px 0px 18px 18px;
  position: absolute;
  top: 0.5rem;
  right: -0.5rem;
}
