@import "../../assets/common/common.scss";

.BoxMainDiv {
  width: 25.31rem;
  background-color: $white7F7;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.123279);
}

.Container {
  padding: 1.5rem 1.5rem 4.5rem 1.5rem;
}

.Wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
