.FormContainerMain {
  position: relative;
  width: 52.18rem;
  -webkit-box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
          box-shadow: 1px 0px 5px #e5e5e5, -1px 0px 5px #e5e5e5, 0px -1px 5px #e5e5e5, 0px 1px 5px #e5e5e5;
  border-radius: 2rem;
  background-color: #ffffff;
}

.FormContainerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #474747;
  height: 3.18rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-left: 2rem;
}

.FormContainerContent {
  padding: 2rem 0;
}

.FormContainerStatus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr 5fr;
      grid-template-columns: 5fr 2fr 5fr;
  height: 2rem;
}

.FormContainerStatusIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 38.3%;
  top: -5.63rem;
}

.FormContainerStatusLeft {
  background-color: #ffffff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 15.1em;
}

.FormContainerStatusCenter {
  background-color: #ffffff;
}

.FormContainerStatusRight {
  background-color: #ffffff;
  width: 15em;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.FormContainerTooltip {
  margin-left: 1rem;
}
