.FormContainerMain {
  position: relative;
  width: 52.18rem;
  -webkit-box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede, 0px 1px 5px #dedede;
          box-shadow: 1px 0px 5px #dedede, -1px 0px 5px #dedede, 0px -1px 5px #dedede, 0px 1px 5px #dedede;
  border-radius: 0.7rem;
  background-color: #ffffff;
}

.FormContainerLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #474747;
  height: 3.18rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  padding-left: 2rem;
}

.FormContainerContent {
  padding: 2rem;
}

.FormContainerStatus {
  position: absolute;
  top: -4.3rem;
  left: 22rem;
  padding: 1rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
}
