@import "../../assets/common/common.scss";

.FormContainerMain {
  position: relative;
  width: 52.18rem;
  box-shadow: $mainBoxShadow;
  border-radius: 0.7rem;
  background-color: #ffffff;
}
.FormContainerLabel {
  display: flex;
  align-items: center;
  background-color: #474747;
  height: 3.18rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  padding-left: 2rem;
}
.FormContainerContent {
  padding: 2rem;
}
.FormContainerStatus {
  position: absolute;
  top: -4.3rem;
  left: 22rem;
  padding: 1rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
}
