.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f8;
  border: 1px solid #dedede;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  min-width: 24rem;
  section {
    padding: 1rem 0 1rem 1rem;
  }
}

.Subtitle {
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.Content {
  padding: 0;
  margin: 0;
}

.FooterContainer {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  &:last-child {
    margin-right: -1rem;
  }
}

.FooterLabel {
  font-style: italic;
}

.Description {
  font-family: "Nunito Sans";
  margin: 0;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-right: 1rem;
}

.ContentContainer {
  padding: 0;
  margin: 0;
}

.ContentItem {
  font-family: "Nunito Sans";
  margin: 0;
  color: #000000;
  font-size: 0.93rem;
  font-weight: 600;
  line-height: 20px;
}

.CursorPointer {
  cursor: pointer;
}
