@import "../../assets/common/common.scss";
@import "../../assets/common/flex.scss";

.Container {
    padding: 1rem;
    border-radius: 1.33rem;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    cursor: pointer;
}

.InnerWrapper {
    width: 100%;
    height: 100%;
}

.TitleWrapper {

}

.Title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}